<div class="col-md-12">

  <div class="col-md-4 m-5">
    <form [formGroup]="formSignup">
      <div class="form-group">
        <label for="inputUsuario">Usuario:</label>
        <input type="text" class="form-control" id="inputUsuario" placeholder="Digite seu nome de usuário" formControlName="usuario">
      <!--Email - Mensagens de Erro-->
      <ul class="text-danger" *ngIf="formSignup.get('usuario')?.touched">
        <li *ngIf="formSignup.get('usuario')?.errors?.required">
          O Campo <b>Usuário</b> é obrigatório!
        </li>
      </ul>
      </div>
      <div class="form-group">
        <label for="inputEmail">Email:</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email" formControlName="email">
      <!--Email - Mensagens de Erro-->
      <ul class="text-danger" *ngIf="formSignup.get('email')?.touched">
        <li *ngIf="formSignup.get('email')?.errors?.required">
          O Campo <b>Email</b> é obrigatório!
        </li>
        <li *ngIf="formSignup.get('email')?.errors?.pattern">
          Email inválido!
        </li>
      </ul>
      </div>
      <div class="form-group">
        <label for="inputSenha">Senha</label>
        <input type="password" class="form-control" id="inputSenha" placeholder="Digite sua senha" formControlName="senha">
        <!--Senha - Mensagens de Erro-->
        <ul class="text-danger" *ngIf="formSignup.get('senha')?.touched">
          <li *ngIf="formSignup.get('senha')?.errors?.required">
            O Campo <b>Senha</b> é obrigatório!
          </li>
          <li *ngIf="formSignup.get('senha')?.errors?.minlength">
            Sua senha deve possuir no mínimo <b>6 caracteres</b> !
          </li>
        </ul>
      </div>
      <button class="btn btn-primary mt-2" (click)="cadastrarUsuario()">Login</button>
      <!-- <button class="btn btn-primary mt-2" [routerLink]="['clientes']">Login</button> -->

    </form>
  </div>
  <div class="row-md-6">
  </div>

</div>
